.form {
  width: 60%;
  justify-content: space-evenly;
  margin-top: 130px;

  @include onTablet {
    width: 100%;
    margin-top: 40px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 22px;

    @include onTablet {
      gap: 13px;
    }
  }

  &__input {
    border: none;
    width: 100%;
    padding: 6px 0;
    border-bottom: 1px solid $dark-gray-color;
    background-color: transparent;

    font: inherit;
    color: $white-color;
    outline: none;
  }

  &__button {
    display: block;
    width: 200px;
    height: 48px;
    background: $secondary-text-color;
    border-radius: 4px;
    border-width: 0px;

    font: inherit;
    line-height: inherit;
    text-align: center;
    color: $white-color;
  }

  &__error {
    @extend .text-error;
    display: block;
    margin: 10px 0;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }

  &__field {
    width: 45%;
    border: none;
    margin-bottom: 24px;

    @include onTablet {
      margin-bottom: 10px;
    }

    @include onMobile {
      margin: 0;
    }
  }

  &__input {
    border: none;
    width: 100%;
    padding: 6px 0;
    border-bottom: 1px solid $dark-gray-color;
    background-color: transparent;
    font: inherit;
    color: $white-color;
    outline: none;
  }

  &__message {
    @extend .form__input;
    resize: none;
  }

  &__card {
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-top: 150px;

    @include onTablet {
      width: 75%;
      margin-top: 10px;
    }

    @include onMobile {
      width: 85%;
    }

    @include onSmallScreen {
      width: 100%;
    }

    &-number {
      display: flex;
      margin: 20px 0 70px;

      @include onTablet {
        margin: 10px 0 10px;
      }

      &__wrapper {
        display: flex;
        flex-grow: 1;
      }
    }

    &-input {
      @extend .form__input;
      letter-spacing: 5px;
      text-indent: 3px;
      margin-right: 25px;
      max-width: 60px;

      &::placeholder {
        letter-spacing: 3px;
        text-align: center;

        @include onMobile {
          letter-spacing: 0;
        }
      }

      @include onTablet {
        letter-spacing: 5px;
        text-indent: 3px;
        margin-right: 11%;

        @include onMobile {
          max-width: 45px;
          margin-right: 4%;
          text-indent: 0;
          letter-spacing: 1px;
        }
      }

      &-cvv {
        @extend .form__card-input;
        width: 37px;
        text-indent: 1px;
        letter-spacing: 4px;

        &::placeholder {
          text-indent: 1px;
        }

        @include onMobile {
          text-indent: 7px;
          letter-spacing: 3px;
        }
      }
    }

    &-date {
      display: flex;
      justify-content: space-between;
      width: 60%;
      margin: 50px 0 100px 0;

      @include onTablet {
        margin: 10px 0 0 0;
      }

      @include onMobile {
        margin-top: 15px;
      }
    }

    &-expiration {
      display: flex;
      flex-direction: column;

      &-input {
        @extend .form__card-input;
        max-width: 67px;
        text-align: center;
        text-indent: 0;

        &::placeholder {
          letter-spacing: 0;
        }

        &--error {
          @extend .input-error;

          &::placeholder {
            color: $error-color;
          }
        }
      }
    }

    &-cvv {
      @extend .form__card-expiration;
      align-self: flex-end;
    }
  }

  &__selected {
    color: $primary-text-color;

    &-input {
      border-color: $primary-text-color;
    }
  }
}

.text-error {
  color: $error-color;
}

.input-error {
  border-bottom: 1px solid $error-color;
}
