.dropdown {
  position: relative;
  width: 100%;
  background-color: $dark-shade-color;
  margin-top: 13px;

  cursor: pointer;
  transition: opacity 0.3s ease-in;

  &__value {
    width: 100%;
    color: $white-color;
    text-align: center;
    padding: 14px 24px;

    background-image: url(../../../public/images/Polygon.svg);
    background-repeat: no-repeat;
    background-position-y: 51%;
    background-position-x: 90%;

    &--opened {
      background-image: none;
    }
  }

  &__input {
    @extend .dropdown__value;
    background-color: $dark-shade-color;
    text-align: start;
    outline: none;
    border: none;
    font: inherit;
    cursor: pointer;

    &::placeholder {
      opacity: 0.5;
      font-weight: 500;
      color: $white-color;
    }

    &--opened {
      background-image: none;
    }
  }

  &__temporary {
    @extend .dropdown__input;
    margin-top: 13px;
    width: 100%;
    height: 50px;
  }

  &__list {
    z-index: 2;
    position: absolute;
    max-height: 230px;
    overflow: scroll;
    left: 0;
    right: 0;
    background-color: $dark-shade-color;
    overflow-x: hidden;

    @include onTablet {
      max-height: 118px;
    }

    &::-webkit-scrollbar {
      width: 1px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $primary-text-color;
    }

    &::-webkit-scrollbar-corner {
      width: 0;
    }
  }

  &__item {
    list-style: none;
    color: $white-color;
    padding: 8px 24px;
    flex-grow: 1;
    text-align: center;

    transition-property: color, background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease;

    &__input {
      @extend .dropdown__item;
      text-align: start;
      padding: 8px 24px;
    }

    &:hover {
      color: $primary-text-color;
      background-color: #15122c;
    }
  }

  &__quantities {
    &__item {
      padding: 8px 0;
    }

    &__value {
      padding: 8px 0;
    }
  }

  &__placeholder {
    &::before {
      display: block;
      content: "Choose a city";
      text-align: start;
      opacity: 0.5;
      font-weight: 500;
      color: $white-color;
    }
  }

  &__form {
    &__item {
      text-align: start;
    }

    &__value {
      text-align: start;
    }
  }
}
