.dropdown {
  position: relative;
  width: 100%;
  background-color: $dark-shade;

  margin-top: 13px;

  cursor: pointer;

  transition: opacity 0.3s ease-in;

  &__value {
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 8px 0;

    background-image: url(../../../public/images/Polygon.svg);
    background-repeat: no-repeat;
    background-position-y: 51%;
    background-position-x: 90%;
  }

  &__input {
    @extend .dropdown__value;
    background-color: $dark-shade;
    padding: 14px 24px;

    text-align: start;
    outline: none;
    border: none;

    font: inherit;
    cursor: pointer;
  }

  &__temporary {
    @extend .dropdown__input;
    margin-top: 13px;
    width: 100%;
    height: 50px;
  }

  &__list {
    position: absolute;
    max-height: 230px;
    overflow: scroll;
    left: 0;
    right: 0;
    background-color: $dark-shade;

    &::-webkit-scrollbar {
      width: 1px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $primary-text-color;
    }

    &::-webkit-scrollbar-corner {
      width: 0;
    }
  }

  &__item {
    list-style: none;
    color: #fff;
    padding: 8px 0;
    flex-grow: 1;

    text-align: center;

    transition-property: color, background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease;

    &-input {
      @extend .dropdown__item;
      text-align: start;
      padding: 8px 24px;
    }

    &:hover {
      color: $primary-text-color;
      background-color: #15122c;
    }
  }

  &__quantities {
    width: 90px;
  }
}
