.menu {
  display: flex;

  &__off {
    &--mobile {
      @include onMobile {
        display: none;
      }
    }

    &--tablet {
      @include onTablet {
        display: none;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 36px;
  }

  &__item {
    height: 40px;
    list-style: none;
    cursor: pointer;
  }

  &__link {
    display: flex;
    align-items: center;
    height: 100%;
    color: $white-color;
    transition: color 0.25s ease;

    &:hover {
      color: $primary-text-color;
    }
  }
}
