.swiper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  padding: 0 38px;

  overflow: hidden;

  @include onTablet {
    padding: 0;
  }

  @include onMobile {
    left: 7%;
  }

  &__list {
    height: 100%;
    display: flex;
    overflow: hidden;

    transition: transform 1s ease;
  }

  &__item {
    list-style: none;
    margin-right: $swiper-item-margin * 1px;

    @include onMobile {
      margin: 0 20px;
    }
  }

  &__image {
    height: 100%;
    object-fit: cover;
  }

  &__pagination {
    position: absolute;
    color: $primary-text-color;

    left: 0;

    z-index: 3;

    @include onTablet {
      left: 50%;
      bottom: 4%;
    }
  }

  &__header {
    &-list {
      display: flex;
    }
  }
}
