.select-language {
  background-color: inherit;
  width: 50px;
  margin: 0;

  @include onTablet {
    display: none;
  }

  &__value {
    position: relative;
    padding: 5px;
    margin-top: 4px;
    background: none;
    color: $primary-text-color;

    &::after {
      position: absolute;
      content: url(../../../public/images/Polygon.svg);
      bottom: 20%;
      right: 1px;
    }

    &--opened {
      background-color: $dark-shade-color;
      background-image: none;

      &::after {
        content: none;
      }
    }
  }

  &__list {
    background-color: inherit;
    overflow: visible;
    left: 0;
    right: 0;

    & > li {
      color: $primary-text-color;

      &:hover {
        color: $white-color;
      }
    }

    &--opened {
      background-color: $dark-shade-color;

      &:hover {
        background-color: $dark-shade-color;
      }
    }
  }
}
