.select-language {
  background-color: inherit;
  width: 50px;
  margin: 0;

  @include onTablet {
    display: none;
  }

  &__value {
    padding: 5px;
    background-position: right bottom;
    color: $primary-text-color;

    &--opened {
      background-color: $dark-shade;
      background-image: none;
    }
  }

  &__list {
    background-color: inherit;
    overflow: visible;
    left: 0;
    right: 0;

    & > li {
      color: $primary-text-color;

      &:hover {
        color: #fff;
      }
    }

    &--opened {
      background-color: $dark-shade;

      &:hover {
        background-color: $dark-shade;
      }
    }
  }
}
