.contact-us {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include onMobile {
    display: none;
  }

  &__text {
    font-size: $text-font-size;
    line-height: 150%;
    color: $secondary-text-color;
    width: max-content;
    transition: opacity 0.4s;

    &:hover {
      opacity: 0.7;
    }
  }
}
