h1,
h2,
h3,
p,
ul,
ol,
body,
button,
legend,
fieldset,
input,
textarea {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
