.modal {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  animation-name: showUp;
  animation-duration: 0.5s;
  animation-timing-function: ease;

  z-index: 6;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
  }

  &--video {
    padding: 0 0;
  }

  &--hidden {
    animation-name: close;
    animation-duration: $modal-close-time * 1s;
    animation-timing-function: ease-in;
  }

  &__content {
    position: relative;
    background-color: $dark-shade-color;
    padding: 60px 90px;
    width: 880px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    @include onMobile {
      padding: 60px 60px;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__wrapper {
    display: flex;
    gap: 65px;

    margin-top: 25px;

    @include onTablet {
      margin-top: 70px;
    }
  }

  &__title {
    color: $primary-text-color;
  }

  &--open {
    height: 100%;
    overflow: hidden;
  }

  &__link {
    color: $primary-text-color;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__text {
    @extend .page__text;
    margin-top: 50px;
  }

  &__tablet {
    @include onTablet {
      height: 100%;
      width: 100%;
    }
  }
}
