.header {
  height: 100vh;
  background: $primary-section-color;
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.25);

  &__title {
    @extend .page__title;
    margin-top: 110px;
    margin-bottom: 0;

    @include onTablet {
      margin-top: 0;
      width: auto;
    }

    @include onMobile {
      margin-bottom: 0;
    }
  }

  @include onTablet {
    height: 70vh;
  }

  @include onMobile {
    height: 100vh;
  }

  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include onTablet {
      display: grid;
      grid-template-columns: 150px 1fr $header-icon-size;
      margin-bottom: 55px;
    }

    @include onMobile {
      margin-bottom: 15px;
    }
  }

  &__left {
    display: flex;
  }

  &__right {
    display: flex;
    gap: 37px;

    @include onTablet {
      grid-column: 3;
      transition: transform 0.5s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__help {
    display: flex;
    gap: 50px;
  }

  &__swiper {
    padding: 0;
  }

  &__content {
    height: 90%;
    position: relative;
    display: flex;
    align-items: center;

    @include onTablet {
      margin-bottom: 50px;
      gap: 0;
    }

    @include onMobile {
      height: 95%;
      flex-direction: column-reverse;
      margin-bottom: 15px;
    }

    &-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;

      @include onTablet {
        width: auto;
      }

      @include onMobile {
        justify-content: space-evenly;
        margin-top: 40%;
      }
    }

    &-bottom {
      display: flex;
      justify-content: space-between;
      padding: 10px;

      @include onTablet {
        display: none;
      }

      &--center {
        transition: transform 0.3s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  &__about {
    display: flex;
    height: 50%;
    width: 300px;
    margin-left: 80px;
    flex-direction: column;
    gap: 20px;

    @include onTablet {
      height: 65%;
      margin-left: 0;
    }

    @include onMobile {
      height: auto;
      width: fit-content;
    }

    &-paragraph {
      line-height: 150%;
      color: $secondary-text-color;
    }

    &-price {
      font-size: 18px;
      line-height: 22px;
      color: #fff;

      @include onMobile {
        text-align: center;
      }
    }
  }

  &__some {
    height: 100%;
    width: 50%;
  }

  &__image {
    align-self: flex-end;
    width: 210px;

    &-wrapper {
      overflow: hidden;

      @include onTablet {
        position: absolute;
        top: 15%;
        left: 40%;
        right: 0;
        background-image: url(../../../public/images/pictures/image-b.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: right;
        padding-bottom: 25%;
      }

      @include onMobile {
        width: 100%;
        left: 50%;
        top: 0;
        padding-bottom: 40%;
        background-position: center;
        background-size: 120%;

        transform: translate(-50%);
      }
    }
  }

  &__bottom {
    &-text {
      color: #fff;

      transition: color 0.3s ease;

      &:hover {
        color: $secondary-text-color;
      }
    }

    &-advanced {
      position: relative;
      color: $primary-text-color;

      &:hover {
        color: #fff;
      }

      &--icon {
        position: absolute;
        bottom: -10px;
        left: 40%;
      }
    }
  }
}
