.sidebar {
  width: 100%;
  height: 100%;
  background: #191536;

  @include onMobile {
    height: 100vh;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 10;

    transform: translateX(0);
    transition: transform 0.45s ease-in;
  }

  &--open {
    animation-name: swipeOpen;
    animation-duration: 0.5s;
    animation-timing-function: ease;
  }

  &--close {
    animation-name: swipeClose;
    animation-duration: 0.5s;
    animation-timing-function: ease;
  }

  &__close-icon {
    position: static;
    grid-column: 3;
  }

  &__back-icon {
    grid-row: 1;
    grid-column: 1;
  }

  &__icons {
    display: grid;
    grid-template-rows: 17px 1fr;
    grid-template-columns: 17px 1fr 17px;
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }
}
