.footer {
  background-color: #000;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__wrapper {
    display: none;
    flex-direction: column;
    gap: 15px;

    @include onMobile {
      display: flex;
    }
  }

  &__logo {
    @include onMobile {
      display: none;
    }
  }

  &__menu {
    display: block;

    &--tablet {
      gap: 25px;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include onMobile {
      gap: 20px;
      margin-bottom: 25px;
    }
  }

  &__socials {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  &__contacts {
    display: none;
    @extend .contacts__contacts-us;

    @include onMobile {
      display: flex;
    }
  }

  &--menu {
    @include onMobile {
      gap: 12px;
      flex-direction: column;
    }
  }
}
