.benefits {
  background: $primary-section-color;

  &__title {
    text-align: center;
    margin-bottom: 85px;

    @include onMobile {
      margin-bottom: 50px;
      text-align: start;
    }
  }

  &__button {
    display: block;
    margin: 0 auto;

    @include onTablet {
      width: 50%;
      position: fixed;
      z-index: 4;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
    }

    @include onMobile {
      bottom: 2%;
    }
  }

  &__cards {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    margin-bottom: 90px;

    @include onTablet {
      margin-bottom: 0;
    }

    @include onMobile {
      flex-direction: column;
      gap: 25px;
    }
  }
}
